<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/admin">Listado de películas</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/admin/peliculas/nueva">Nueva película</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/admin/director">Nuevo director</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/">Público</a>
    &nbsp;&nbsp;
      {% if (session and session.login) %}
    <a class="btn btn-dark" href="/auth/logout">Logout</a>
      &nbsp;&nbsp;
      {%endif%}
</div>